Repository bonitasoft/bonita-doc, pull requests merged in 2024-07, with the labels that each got.

#2753 fix(Studio installation): update Customer Service Center links
  antora.yml
  modules/ROOT/pages/bonita-studio-download-installation.adoc
  modules/ROOT/pages/release-notes.adoc
  modules/identity/pages/single-sign-on-with-oidc.adoc
  modules/identity/pages/single-sign-on-with-saml.adoc
  modules/runtime/pages/admin-application-overview.adoc
  modules/runtime/pages/application-directory.adoc
  modules/runtime/pages/custom-deployment.adoc
  modules/runtime/pages/licenses.adoc
  modules/runtime/pages/purge-tool.adoc
  modules/runtime/pages/super-administrator-application-overview.adoc
  modules/runtime/pages/tomcat-bundle.adoc
  modules/runtime/pages/user-application-overview.adoc
  modules/version-update/pages/mtmr-tool.adoc
  modules/version-update/pages/update-studio.adoc
  modules/version-update/pages/update-with-migration-tool.adoc
  modules/version-update/pages/update-with-update-tool.adoc
Labels: Review needed :book:

#2770 docs(SAML): session cookie samesite attribute in cluster
  modules/ROOT/pages/release-notes.adoc
  modules/identity/pages/single-sign-on-with-saml.adoc
  modules/runtime/pages/install-a-bonita-bpm-cluster.adoc
Labels: Review needed :book:, :fire:Merge only on release :skull_and_crossbones:

#2752 docs(releaseNote): 2023.2-u5
  modules/ROOT/pages/release-notes.adoc
  modules/identity/pages/single-sign-on-with-cas.adoc
  modules/identity/pages/single-sign-on-with-kerberos.adoc
  modules/identity/pages/single-sign-on-with-saml.adoc
Labels: :fire:Merge only on release :skull_and_crossbones:

#2781 docs(releaseNote): 2024.1-u3
  modules/ROOT/pages/release-notes.adoc
Labels: :shipit: Ready to merge :shipit:
